name: Build APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Buildozer
      run: |
        sudo apt update
        sudo apt install -y openjdk-17-jdk git python3-pip build-essential
        pip install buildozer

    - name: Build APK
      run: buildozer -v android debug --spec myconfig.spec

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: my-apk
        path: bin/*.apk
